<section class="contact-us">
    <div class="inner-container">
        <h2 class="contact-us__title">Contact Us</h2>
        <picture></picture>
        <p class="contact-us__text">Discover your current English level by 
            taking our free online English test.
            Sign up to our newsletter for learning tips
            and free resource</p>
        <input type="email" class="contact-us__input" required placeholder="Enter Your E-mail">
        <button class="contact-us__btn">Subscribe</button>
    </div>
</section>