<section class="header">
    <div class="inner-container flex">
        <a href="#" class="logo">Brit<span class="logo__lex">lex</span></a>
        <button class="menu-btn">
            <svg class="menu-btn__svg" width="34" height="19">
                <use href="./images/icons/symbol-defs.svg#icon-mobile-menusvg"></use>
            </svg>
        </button>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Skills</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">About Us</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Pricing</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__link">Contacts</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="header-btn">Let’s Talk</button>
    </div>
</section>