<section class="hero">
    <div class="inner-container">
        <div class="hero-box">
            <picture>
                <source
                  srcset="
                    ./images/pics/hero/1x/languages-320@1x.png 1x,
                    ./images/pics/hero/2x/languages-320@2x.png 2x
                  "
                  media="(max-width: 574px)"
                />
                <source
                  srcset="
                    ./images/pics/hero/1x/languages-575@1x.png 1x,
                    ./images/pics/hero/2x/languages-575@2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <source
                  srcset="
                    ./images/pics/hero/1x/languages-767@1x.png 1x,
                    ./images/pics/hero/2x/languages-767@2x.png 2x
                  "
                  media="(max-width: 991px)"
                />
                <source
                  srcset="
                    ./images/pics/hero/1x/languages-992@1x.png 1x,
                    ./images/pics/hero/2x/languages-992@2x.png 2x
                  "
                  media="(max-width: 1199px)"
                />
                <source
                  srcset="
                    ./images/pics/hero/1x/languages-1200@1x.png 1x,
                    ./images/pics/hero/2x/languages-1200@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />
                <img
                  src="./images/pics/hero/1x/languages-320@1x.png"
                  alt="languages"
                  class="hero-box__img"
                />
              </picture>
        
             <!-- <picture>
            <img src="./images/pics/hero/1x/languages-320@1x.png" alt="languages" class="hero-box__img"> 
                <source srcset="./images/pics/hero/1x/languages-320@1x.png 1x, ./images/pics/hero/2x/languages-320@2x.png 2x" media="(max-width: 574px)">
                <source srcset="./images/pics/hero/1x/languages-575@1x.png 1x, ./images/pics/hero/2x/languages-575@2x.png 2x" media="(min-width: 575px)">
               <source srcset="./images/pics/hero/1x/languages-767@1x.png 1x, ./images/pics/hero/2x/languages-767@2x.png 2x" media="(min-width: 767px)"> 
                 <source srcset="./images/pics/hero/1x/languages-992@1x.png 1x, ./images/pics/hero/2x/languages-992@2x.png 2x" media="(min-width: 992px)">
              <source srcset="./images/pics/hero/1x/languages-1200@1x.png 1x, ./images/pics/hero/2x/languages-1200@2x.png 2x" media="(min-width: 1200px)">  
            </picture>  -->
        </div>
        <!-- <img src="./images/pics/hero/1x/languages-575@1x.png" alt="dd"> -->
        <!-- <picture>
            <source
              srcset="
                ../assets/img/desktop/1x/hero/big-IceCream-comp-1x.webp 1x,
                ../assets/img/desktop/2x/hero/big-IceCream-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../assets/img/tablet/1x/products/iceCream1-tab-1x.webp 1x,
                ../assets/img/tablet/2x/products/iceCream1-tab-2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../assets/img/mobile/1x/products/iceCream1-mob-1x.webp 1x,
                ../assets/img/mobile/2x/products/iceCream1-mob-2x.webp 2x
              "
              media="(min-width: 0px)"
            />
            <img
              class="products-image"
              src="../assets/img/mobile/1x/products/iceCream1-mob-1x.webp"
              alt="rozovoe-morozhenoe"
            />
          </picture> -->
          
    <h1 class="hero__title">Learn Any <br>
        Foreign Language</h1>
    <p class="hero__text">With our teachers who write a program
        for each student, you will be able to make
        your first sketch after the first lesson.</p>

        <button type="button" class="hero__btn">Get started</button>

    <svg class="hero__svg" width="51" height="51">
        <use href="./images/icons/light-bulbsvg.svg"></use>
    </svg>
    </div>
</section>