<section class="skills">
  <div class="inner-container">
    <h2 class="skills__title">Skills</h2>
    <ul class="skills-list">
      <li class="skills-list__item">
        <picture>
          <source srcset="
                        ./images/pics/skills/1x/speaking-320-767@1x.png 1x,
                        ./images/pics/skills/2x/speaking-320-767@2x.png 2x
                      " media="(max-width: 574px)" />
          <source srcset="
                    ./images/pics/skills/1x/speaking-575@1x.png 1x,
                        ./images/pics/skills/2x/speaking-575@2x.png 2x
                      " media="(max-width: 767px)" />
          <source srcset="
                    ./images/pics/skills/1x/speaking-320-767@1x.png 1x,
                    ./images/pics/skills/2x/speaking-320-767@2x.png 2x
                      " media="(max-width: 991px)" />
          <source srcset="
                    ./images/pics/skills/1x/speaking-992@1x.png 1x,
                    ./images/pics/skills/2x/speaking-992@2x.png 2x
                      " media="(max-width: 1199px)" />
          <source srcset="
                    ./images/pics/skills/1x/speaking-1200@1x.png 1x,
                    ./images/pics/skills/2x/speaking-1200@2x.png 2x
                      " media="(min-width: 1200px)" />
          <img src="./images/pics/skills/1x/speaking-320-767@1x.png" alt="speaking" class="skills__img" />
        </picture>
        <h3 class="skills-list__title">Speaking</h3>
        <p class="skills-list__text">Improve your English skills and confidence. Live classes and interactive
          lessons online. 20% extra free for
          a limited time only<br>
          <br>
          Learn English online and improve your
          skills through our high-quality courses and resources – all designed for adult language learners.
        </p>
        <button class="skills-list__btn">Learn more</button>
      </li>
      <li class="skills-list__item">
        <picture>
          <source srcset="
                        ./images/pics/skills/1x/typing-320-767-992@1x.png 1x,
                        ./images/pics/skills/2x/typing-320-767-992@2x.png 2x
                      " media="(max-width: 574px)" />
          <source srcset="
                    ./images/pics/skills/1x/typing-575@1x.png 1x,
                        ./images/pics/skills/2x/typing-575@2x.png 2x
                      " media="(max-width: 767px)" />
          <source srcset="
                    ./images/pics/skills/1x/typing-320-767-992@1x.png 1x,
                    ./images/pics/skills/2x/typing-320-767-992@2x.png 2x
                      " media="(max-width: 991px)" />
          <source srcset="
                    ./images/pics/skills/1x/typing-320-767-992@1x.png 1x,
                    ./images/pics/skills/2x/typing-320-767-992@2x.png 2x
                      " media="(max-width: 1199px)" />
          <source srcset="
                    ./images/pics/skills/1x/typing-1200@1x.png 1x,
                    ./images/pics/skills/2x/typing-1200@2x.png 2x
                      " media="(min-width: 1200px)" />
          <img src="./images/pics/skills/1x/typing-320-767-992@1x.png" alt="speaking" class="skills__img" />
        </picture>
        <h3 class="skills-list__title">Speaking</h3>
        <p class="skills-list__text">One of the most important and extensive areas of natural science, the
          science that studies substances, also their composition </p>
        <button class="skills-list__btn">Learn more</button>
      </li>
      <li class="skills-list__item">
        <picture>
          <source srcset="
                        ./images/pics/skills/1x/reading-320@1x.png 1x,
                        ./images/pics/skills/2x/reading-320@2x.png 2x
                      " media="(max-width: 574px)" />
          <source srcset="
                    ./images/pics/skills/1x/reading-575@1x.png 1x,
                        ./images/pics/skills/2x/reading-575@2x.png 2x
                      " media="(max-width: 767px)" />
          <source srcset="
                    ./images/pics/skills/1x/reading-767@1x.png 1x,
                    ./images/pics/skills/2x/reading-767@2x.png 2x
                      " media="(max-width: 991px)" />
          <source srcset="
                    ./images/pics/skills/1x/reading-992@1x.png 1x,
                    ./images/pics/skills/2x/reading-992@2x.png 2x
                      " media="(max-width: 1199px)" />
          <source srcset="
                    ./images/pics/skills/1x/reading-1200@1x.png 1x,
                    ./images/pics/skills/2x/reading-1200@2x.png 2x
                      " media="(min-width: 1200px)" />
          <img src="./images/pics/skills/1x/reading-320@1x.png" alt="reading" class="skills__img" />
        </picture>
        <h3 class="skills-list__title">Reading</h3>
        <p class="skills-list__text">perception and response actions
          of the user resulting from the use and
          or up coming use of the product,
          system or service </p>
        <button class="skills-list__btn">Learn more</button>
      </li>
      <li class="skills-list__item">
        <picture>
          <source srcset="
                        ./images/pics/skills/1x/listening-320@1x.png 1x,
                        ./images/pics/skills/2x/listening-320@2x.png 2x
                      " media="(max-width: 574px)" />
          <source srcset="
                    ./images/pics/skills/1x/listening-575-767@1x.png 1x,
                        ./images/pics/skills/2x/listening-575-767@2x.png 2x
                      " media="(max-width: 767px)" />
          <source srcset="
                    ./images/pics/skills/1x/listening-575-767@1x.png 1x,
                    ./images/pics/skills/2x/listening-575-767@2x.png 2x
                      " media="(max-width: 991px)" />
          <source srcset="
                    ./images/pics/skills/1x/listening-992@1x.png 1x,
                    ./images/pics/skills/2x/listening-992@2x.png 2x
                      " media="(max-width: 1199px)" />
          <source srcset="
                    ./images/pics/skills/1x/listening-1200@1x.png 1x,
                    ./images/pics/skills/2x/listening-1200@2x.png 2x
                      " media="(min-width: 1200px)" />
          <img src="./images/pics/skills/1x/listening-320@1x.png" alt="listening" class="skills__img" />
        </picture>
        <h3 class="skills-list__title">Listening</h3>
        <p class="skills-list__text">Here you can find activities to practise your listening skills. Listening
          will help you to improve your understanding </p>
        <button class="skills-list__btn">Learn more</button>
      </li>
    </ul>
  </div>
</section>