.contact-us {
    &__title {
        text-align: center;
        color: black;
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        line-height: 80px;
        letter-spacing: 0%;
        padding-bottom: 38px;
        padding-top: 72px;
    }

    &__img {
        display: flex;
        padding-bottom: 38px;
        margin: 0 auto;
        text-align: end;
    }

    &__text {
        text-align: center;
        color: #8F95A5;
        text-align: center;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 31px;
    }

    &__input {
        border-radius: 5px;
        border: 1px solid #8F95A5;
        width: 291px;
        height: 50px;
        color: #8F95A5;
        padding: 16px 0 16px 26px;
        font-family: "Poppins";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 17px;
    }

    &__btn {
        border-radius: 5px;
        background: #263238;
        color: #FFF;
        font-family: "Poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 110px;
        margin-bottom: 57px;
    }

    &__line {
        width: 290px;
        height: 1px;
        background: #C4C4C4;
        margin-bottom: 26px;
    }
}