.skills {
    padding-bottom: 49px;
    &__title {
        color: #000;
        text-align: center;
        font-family: "Poppins";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 333%;
        padding-bottom: 32px;
    }
    &__img {
        display: flex;
        margin: 0 auto;
    }
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2082px;
    &__item {
        padding:22px 16px 45px;
        width: 290px;
        border-radius: 5px;
background: #F5F5F5;
    }
    &__title {
        color: #263238;
font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 444.444% */
    }
    &__text {
        color: #8F95A5;
font-family: "Poppins";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 33px;
    }
    &__btn {
        color: #FFF;
font-family: "Poppins";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 5px;
background: #263238;
padding:  14px 43px;
    }
}